body {
  margin: 0;
}
.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}
.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}
.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}
section {}

/* animate page transitions */

section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}
div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}
.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

/* Hero Image*/

.hero-container {
  position: relative;
  height: 600px;
  width: 100vw;
  background-color: white;
  background-image: url("../img/london.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: 0px;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hero-content h1, .hero-content h4 {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}
.heading-container {}

/* Hero Search */

.search-container {}
.search-item {}
.search-submit {
  width: 100%;
}

/* Suggestions Menu*/

.suggestions-menu {
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
}
.suggestions-menu li {
  background-color: #1d4f92;
  width: 80px;
  text-align: center;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  color: white;
  margin-right: 4px;
}
.suggestions-menu li:hover {
  background-color: #3a68a4;
}

/* Suggestions Results*/

.card-small {
  max-width: 600px;
  min-height: 420px;
  margin: 0 auto;
}
.suggestion-card {
  background-color: #414d54;
}
.card-header {
  position: relative;
  height: 170px;
}
.card-header .title {
  position: absolute;
  z-index: 9999;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
.card-header .overlay {
  position: absolute;
  z-index: 9997;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.4);
}
.card-header .image {
  position: absolute;
  z-index: 9996;
  width: 100%;
  height: 100%;
}
.reviewer {
  position: absolute;
  z-index: 9998;
  top: 130px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
.reviewer .image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2.5px solid #e6f0f2;
}
.reviewer .name {
  color: #fff;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 300;
}
.card-footer {
  margin-top: 60px;
}
.card-footer .review {
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 450;
  letter-spacing: 0.6px;
}

/* animation definitions */

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
